<div class="container">
    <div class="row justify-content-center mt-5 ">
        <div class="col-md-6">
            <form class="border p-4 cardbody-color p-lg-5" id="signinForm">
                <h2 class="text-center">¡Bienvenido!</h2>
                <div class="mb-3">
                    <label for="signinEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="signinEmail" name="Email"
                        placeholder="correo@gmail.com" required>
                </div>
                <div class="mb-3">
                    <label for="signinPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="signinPassword" name="Password"
                        placeholder="contraseña" required
                        title="La contraseña debe contener al menos 8 caracteres, una letra minúscula y una letra mayúscula.">
                </div>
                <button type="submit" class="btn btn-outline-success btn-block">Ingresar</button>
                <div id="emailHelp" class="form-text text-center mb-5 text-dark">No tienes cuenta?
                    <a href="/api/signup" class="text-dark fw-bold">
                        Create una cuenta.</a>
                </div>
            </form>
        </div>
    </div>
    {{#if errorMessage}}
    <div class="alert alert-danger mt-3" role="alert">
        {{errorMessage}}
    </div>
    {{/if}}
</div>
<style>
    .btn {
        background-color: #0e1c36;
        color: #fff;
    }
    .cardbody-color {
        background-color: #ebf2fa;
    }
</style>

<script>

    const formLogin = document.getElementById("signinForm");

    formLogin.addEventListener("submit", (event) => {
        event.preventDefault();

        const myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        const raw = JSON.stringify({
            email: signinEmail.value,
            password: signinPassword.value
        });

        const requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("/api/signin", requestOptions)
            .then(response => response.json())
            .then(result => {
                if (result.code == 200) {
                    alert(result.message)
                    localStorage.setItem("token", result.token)
                    location.href = "/"
                } else {
                    alert(result.message)
                }
            })
            .catch(error => console.log('error', error));
    })
</script>